 body{
     background: #f2f4f6;
    }
      .navbar-inverse{
       background: #438EB9;
       border-color: #438EB9;
      }
      .navbar-inverse .navbar-nav > li > a {
      color: #fff;
      }
      .navbar-inverse .mynav > li > a:hover,
      .navbar-inverse .mynav > li > a:focus {
      color: #fff;
      background-color:#43B9B4;
      }
      .navbar-inverse .mynav > .active > a,
      .navbar-inverse .mynav > .active > a:hover,
      .navbar-inverse .mynav > .active > a:focus {
      color: #fff;
      background-color: #43B9B4;
      }
     .navbar-inverse .mynav > .disabled > a,
     .navbar-inverse .mynav > .disabled > a:hover,
     .navbar-inverse .mynav > .disabled > a:focus {
      color: #444;
      background-color: #43B9B4;
     }
     .content{
      margin-top:50px;
      height:auto !important;
      min-height:200px;
      height:400px;
      width:100%;
      /*隐藏垂直滚动条*/
      overflow-y: hidden;
      overflow-x: auto;
     }
     .homemsg{
      margin-top:10px;
      height:150px;
     }
     #page-end{
     margin-top:2px;
     border-top:1px solid #ccc;
     }
     .tabs{
     background: #fff;
     height:550px;
     border-left: 1px solid #ccc;
     border-right: 1px solid #ccc;
     border-bottom: 1px solid #ccc;
     }
     .media{
     margin-left:10px;
     }
     .headText{
      position:relative;
      float: left;
      margin-left:10px;
      margin-top:-45%;
      color:#fff;
     }
     .media-left{
      /*border-right: 1px solid #ccc;*/
     }
     .noticeList{
     display: block;
     }
     .noticeDetail{
      padding:20px;
      color:#828282;
      white-space: normal;
      display: none;
     }
     .btns{
     text-align: center;
     }
     .btn{
     margin-left:10px;
     margin-right:10px;
     }
     .msgbody{
      margin:10px;
     }
    a:link {
   text-decoration: none;
   }
   a:visited {
   text-decoration: none;
   }
   a:hover {
   text-decoration: none;
   }
   a:active {
   text-decoration: none;
   }
   .mybadge{
   background: green;
   }
   .infos{
   margin-left:10px;
   }
   .warningMsg{
   margin:10px;
   }
   .panel-title{
   color:green;
   }
   .time{
   color:#828282;
   }
   .answer{
   border:1px solid green;
   color:green;
   background: #FBFEF3;
   border-radius: 4px;
   }
   .warning{
    color:red;
   }
   .sysWarning{
   border:1px solid red;
   color:red;
   background: #FBFEF3;
   border-radius: 4px;
   }
   .formGroup{
    padding:10px;
   }
   .checkbox{
   margin-left:10px;
   }
   #myContent{
   background:#f2f4f6;
   color:#43B9B4;
   }
   .userManag{
background-color: green;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: green;
}

#ntitle{
     color:#444;
     }
     .content{
      margin-top:50px;
      height:auto !important;
      min-height:200px;
      height:400px;
      width:100%;
      /*隐藏垂直滚动条*/
      overflow-y: hidden;
      overflow-x: auto;
     }
     .tabs{
      height:550px;
      overflow-y: auto;
      overflow-x: auto;
     }